@use 'configContent3' as c;

.content3 {
    position: relative;
    margin-bottom: 30px;
    width: 340px;
    float: left;
    margin-right: 20px;

    .title {
        margin-bottom: 20px;

        h2 {
            width: 100%;
            height: 20px;
            line-height: 20px;
            padding-left: 12px;
            font-size: 23px;
            border-left: 4px solid c.$primaryColor;
            color: c.$textColor;
        }
    }

    .content__main {
        img {
            width: 100%;
            height: 213px;
        }

        a {
            text-decoration: none;

            h3 {
                font-size: 20px;
                color: c.$textColor;
            }
        }
    }

    .content__extra {
        ul {
            list-style-type: none;
            border-top: 1px solid c.$boderColor;
            padding: 0px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin: 15px 0px;

                img {
                    width: 60px;
                    height: 65px;
                }

                h4 {
                    font-size: 15px;
                    color: c.$textColor;
                    margin: 3px 5px 0px 15px;
                }
            }
        }
    }
}