<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="title">
            <div class="icon">
                <div id="icon"><img src="../../src/images/icon.png" alt=""></div>
                <h3>PHOTOSTORY</h3>
            </div>

            <div>
                <ul class="dot">
                    <li id="dot1" onclick="dot1()"></li>
                    <li id="dot2" onclick="dot2()"></li>
                    <li id="dot3" onclick="dot3()"></li>
                </ul>
            </div>
        </div>

        <div class="slider">
            <div class="gallery">
                <ul id="gallery3">
                    <li>
                        <img src="../../src/images/anh1.png" alt="">
                    </li>
                    <li>
                        <img src="../../src/images/anh2.png" alt="">
                    </li>
                    <li>
                        <img src="../../src/images/anh3.png" alt="">
                    </li>
                    <li>
                        <img src="../../src/images/anh4.png" alt="">
                    </li>
                    <li>
                        <img src="../../src/images/anh5.png" alt="">
                    </li>
                </ul>
            </div>
            
            <div class="button">
                <script src="../../src/styles/js/main.js"></script>
                <button id="btn-next" onclick="next()"><div><img src="../../src/images/btn.png" alt=""></div></button>
                <button id="btn-back" onclick="back()"><div><img src="../../src/images/btn.png" alt=""></div></button>
            </div>
        </div>
    </div>
<!-- /build:content -->