<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:header -->
<div class="header">
    <div class="header__margin">
    <div class="logo">
        <img src="../../src/images/logo.png" alt="">
    </div>
    
    <div class="menu">
        <button class="btnMenu">
            <img src="../../src/images/menu.png" alt="">
        </button>
    </div>
    
    <div class="search">
        <form action="" method="">
            <input type="text" name="" value="" >
            <button></button>
        </form>
    </div>
    
    <div class="user">
        <img src="../../src/images/iconUser.png" alt="">
        <div> Welcome John </div>
    </div>
</div>
</div>
<!-- /build:header -->

<!-- build:content -->
    <div class="body">
        <div class="body__margin">
    <div id="content1">
        <div class="img">
            <img src="../../src/images/anh1.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content2">
        <div class="img">
            <img src="../../src/images/anh2.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content3">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content4">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content5">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content6">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content7">
        <div class="img">
            <img src="../../src/images/anh1.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content8">
        <div class="img">
            <img src="../../src/images/anh2.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content9">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content10">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content11">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content12">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>
</div>
    </div>
<!-- /build:content -->

<!-- build:footer -->
    <div class="footer">
        <div class="footer__margin">
    <div class="img">
        <img src="../../src/images/iconLoading.png" alt="">
    </div>
    <div class="load">
        <p> Page Loading </p>
    </div>
</div>
    </div>
<!-- /build:footer -->