@use 'index/header/hd';
@use 'index/body/bd';
@use 'index/footer/ft';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    background-color: #fff;
}

.body {
    width: 1280px;
    height: 92em;
    margin: 0 auto;
    background-color: #f0efee;
}

.footer {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    background-color: #f0efee;
}