@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.4em;
    color: $textColor;
}

.content {
    width: 720px;
    min-height: 28em;
    margin: 0px auto;
    background-color: $bgColor;

    .slider {
        width: 100%;
        height: 23em;
        position: relative;
        overflow: hidden;

        .gallery {
            #gallery4 {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                width: 10000px;
                height: 18em;
                transition: transform  0.6s ease-in-out;
                transform: translateX(0px);
        
                li {
                    width: 19em;
                    height: 100%;
                    margin-left: 1.8em;
                    background-color: $liColor;
                    float: left;

                    &:first-child {
                        margin-left: 0px;
                    }
                    
        
                    img {
                        width: 100%;
                        height: 12em;
                    }
        
                    h4 {
                        margin: 0px;
                        width: 90%;
                        height: 4em;
                        line-height: 1.4em;
        
                        a {
                            font-size: 14.5px;
                        }
                    }
                }
            }
        }

        .button {
            #btn-next {
                @include btn($nextColorAt);
                right: 0;
                border-radius: 5px 0px 0px 5px;

                div {
                    border-radius: 5px 0px 0px 5px;
                }

                &:hover {
                    opacity: 1;
                }
            }

            #btn-back {
                @include btn($nextColorBf);
                left: -3em;
                border-radius: 0px 5px 5px 0px;
                transition: left 0.2s ease-in-out;

                div {
                    border-radius: 0px 5px 5px 0px;
                }

                img {
                    transform: rotate(180deg);
                }
            }

            .dot {
                position: absolute;
                width: 100px;
                left: 50%;
                margin-left: -75px;
                display: flex;
                justify-content: space-between;

                li {
                    width: 10px;
                    height: 10px;
                    background: $dotColor;
                    list-style: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color  0.6s ease-in-out;
                }

                #dot1 {
                    background-color: $dotColorPick;
                }
            }
        }

        &:hover {
            #btn-back {
                left: 0em;
            }
        }
    }
}