@use 'configContent6' as c;
@use 'mixinContent6' as m;

.content6 {
    width: 320px;
    height: 39em;
    background-color: c.$bgColor;
    margin-top: -10px;

    .title {
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        .tt {
            display: flex;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
            }
    
            span {
                font-size: 22px;
                font-weight: bold;
                padding-left: 0.3em;
            }
        }
        
        .bt{
            #down {
                width: 50px;
                height: 30px;
                background-color: c.$scrollBgColor;
                border: 1px solid c.$scrollColor;
                border-radius: 5px;

                img {
                    width: 15px;
                    height: 10px;
                }            
            }
            #up {
                @extend #down;

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .list {
        background-color: c.$listBgColor;
        border: 2px solid c.$boderColor;
        border-radius: 5px;
        width: 100%;
        height: 36.5em;
        overflow-y: scroll;
    
        &::-webkit-scrollbar {
            width: 6px;
            background-color: lightgrey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 5px;
        }

        ul {
            list-style-type: none;
            padding-left: 16px;
            margin: 0px;

            li {
                width: 100%;
                height: auto;
                border-bottom: 2px dotted c.$boderColor;
                padding: 15px 0px;

                a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    color: c.$textColor;

                    .time {
                        width: 12%;
                        font-size: 12px;
                        padding-top: 10px;
                        color: c.$timeColor;
                        border-right: 2px dotted c.$boderColor;;
                    }

                    .ct {
                        width: 82%;
                        font-size: 13.5px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}