@use 'configHeader' as c;

.header__margin {
    width: 1026px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;

    .logo {
        width: 9.75em;
        height: 3.25em;
        margin-left: 12px;
        float: left;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu {
        width: 3em;
        height: 2em;
        margin-left: 75px;
        float: left;

        .btnMenu {
            width: 100%;
            height: 100%;
            border: 1px solid c.$boderColor;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .search {
        width: 26.5em;
        height: 2em;
        margin-left: 45px;
        border: none;
        float: left;

        form {
            width: 100%;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                border: 1px solid c.$boderColor;
                border-radius: 5px;
                background: c.$bgSearchColor;
            }

            button {
                background: url(../../src/images/iconSearch.png);
                width: 22px;
                height: 22px;
                border: none;
                position: absolute;
                top: 41%;
                right: 28%;
            }
        }
    }

    .user {
        height: 38px;
        margin-left: 82px;
        display: flex;
        align-items: center;

        img {
            width: 38px;
            height: 38px;
        }

        div {
            margin-left: 12px;
            line-height: 38px;
            color: c.$textColor;
        }
    }
}
