<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="title">
            <img src="../../src/images/title.png" alt="">
        </div>

        <div class="main-content">
            <div id="img">
                <img src="../../src/images/anh.png" alt="">
            </div>

            <div id="content">
                <div id="title">
                    <span>Argentina - Croatia: Gánh nặng ngàn cân của Messi</span>
                    <br>
                </div>

                <div id="ct">
                    <span>
                        (Dân chí) - Argentina đang chịu nhiều áp lực sau trận hòa Iceland.
                        Ở lượt thứ hai bảng D World Cup 2018, Messi và đồng đội sẽ hứng chịu
                        rất nhiều sức...
                    </span>
                </div>
            </div>
        </div>

        <div class="slider">
            <div class="gallery">
                <ul id="gallery5">
                    <li>
                        <img src="../../src/images/anh1.png" alt="">
                        <h4>
                            <a>Netizen ghen đỏ mắt với màn đu idol siêu thành công của 2 ...</a>
                        </h4>
                    </li>
                    <li>
                        <img src="../../src/images/anh2.png" alt="">
                        <h4>
                            <a>TP.HCM đã qua khỏi đỉnh dịch COVID-19 và đang chốn dịch tốt</a>
                        </h4>
                    </li>
                    <li>
                        <img src="../../src/images/anh3.png" alt="">
                        <h4>
                            <a>
                                Phỏng vấn Khánh Vy sau số đầu tiên lên sóng Olympia, tiết lộ được
                                bố pha cho 1 ...
                            </a>
                        </h4>
                    </li>
                    <li>
                        <img src="../../src/images/anh4.png" alt="">
                        <h4>
                            <a>
                                Lần đầu Hòa Minzy khoe cận chiếc bụng bầu đầy vết rạn thâm đen,
                                chỉ những ai làm mẹ ...
                            </a>
                        </h4>
                    </li>
                    <li>
                        <img src="../../src/images/anh5.png" alt="">
                        <h4>
                            <a>
                                Chuyện ít ai ngờ về "ông trùm" đế chế Huewei: Giắt túi vài chục
                                tỉ đô nhưng từng ...
                            </a>
                        </h4>
                    </li>
                </ul>
            </div>
            <div class="button">
                <script src="../../src/styles/js/main.js"></script>
                <button id="btn-next" onclick="next()"><div><img src="../../src/images/btn.png" alt=""></div></button>
                <button id="btn-back" onclick="back()"><div><img src="../../src/images/btn.png" alt=""></div></button>
            </div>
        </div>
    </div>
<!-- /build:content -->