@import 'config';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #544D4D;
}

.content {
    width: 460px;
    min-height: 600px;
    margin: 0px auto;
    border: solid;
    border-width: 1px;
    border-color: $boderColor;
    border-radius: 10px 0px 10px 10px;

    .title {
        width: 100%;
        height: 4em;
        background-color: $primarycolor;
        border-radius: 7px 0px 0px 0px;
        position: relative;

        h3 {
            color: #F8F8FF;
            padding: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        div {
            width: 60px;
            height: 30px;
            background-color: $imgBgColor;
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-left-radius: 30px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
    
    .content__main {
        width: 100%;
        height: 40em;

        ul {
            height: auto;
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            li {
                height: 6em;
                padding: 10px 10px 10px 10px;
                border-top: 1px solid $boderColor;

                a {
                    height: 100%;
                    text-decoration: none;
                    display: flex;

                    .img {
                        width: 23%;

                        img {
                            width: 90px;
                            height: 90px;
                        }
                    }

                    .ct {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 75%;
                        font-size: 19.5px;
                        line-height: 1.4em;
                        font-weight: bold;
                        color: $textColor;
                    } 
                }
            }
        }

        .ft {
            border-top: 1px solid $boderColor;
            padding: 10px;

            #ft1 {
                text-decoration: none;
                font-size: 19.5px;
                color: $primarycolor;
            } 
        }
       
    }
}