@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.menu {
    width: 100%;
    height: 40px;
    background-color: $primarycolor;
    
    .menu_top {
        margin: 0px auto;
        width: 1000px;

        .nav {
            display: flex;
            height: 40px;
            justify-content: space-between;
            align-items: center;
    
    
            li {
                list-style-type: none;
    
                a {
                    height: 40px;
                    width: auto;
                    line-height: 40px;
                    text-decoration: none;
                    display: block;
                    padding: 0px 10px;

                    &:hover {
                        background-color: $hoverColor;
                    }
    
                    div {
                        @include img;

                        #logo {
                            height: 20px;
                        }
                    }
                }

                div {
                    @include img;

                    #dot {
                        height: 40px;
                    }
                }
            }
        }
    }
}
