<!-- build:title -->Index 3.0<!-- /build:title -->
<!-- build:header -->
<div id="d1">
    <button> Đăng ký </button>
</div>
<div id="d2">
    <button> Đăng nhập </button>
</div>
<!-- /build:header -->
<!-- build:content -->This is index page 3.0<!-- /build:content -->