<!-- build:title -->Index 3.0<!-- /build:title -->
<!-- build:header -->
<div id="d1">
    <button> Đăng ký </button>
</div>
@@include('build/b1.html')
<!-- /build:header -->
<!-- build:content -->This is index page 3.0<!-- /build:content -->