<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="title">
            <h3>Khám sức khỏe chuyên sâu</h3>
            <div><img src="../../src/images/icon.png" alt=""></div>
        </div>
        
        <div class="content1">
            <a href="" class="img" title="Nóng: Cách chấm dứt bệnh gút chỉ sau 3 tháng của một kế">
                <img src="..\..\src\images\anh1.png" 
                alt="Cách chấm dứt bệnh gút chỉ sau 3 tháng của một kế">
            </a>
            
            <div class="inf">
                <a href=""> 6 lầm tưởng tai hại về vấn đề sức khỏe </a>
                
                <p> "Loại bỏ ngay 6 lầm tưởng mà bạn luôn nghĩ là đơn giản ngay ..." </p>
            </div>
        </div>

        <div class="content2">
                <ul>                   
                    <li><a>Những điều bác sĩ không nói với bạn!</a></li>
                    <li><a>Giảm 30% khám sức khỏe cá nhân tại Hồng Ngọc</a></li>
                    <li><a>Đang khỏe mạnh có cần đi khám sức khỏe không?</a></li>
                </ul>
                <div class="ft">
                    <a href="" id="ft1">BV Hồng Ngọc</a>
                </div>
        </div>
        
    </div>
<!-- /build:content -->