@import 'config';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #4D4D4D;
    margin: 0px;
    padding: 0px;
}

.content {
    width: 700px;
    min-height: 200px;
    margin: 0px auto;
    padding-top: 30px;

    #content1 {
        width: 100%;
        line-height: 1.6em;
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $boderColor;

        .img {
            padding-top: 25px;

            a {
                text-decoration: none;
    
                img {
                    width: 22em;
                    height: 15em;
                }
            }
        }
        
        .ct {
            padding-top: 25px;
            width: 30em;

            .title {
                a {
                    text-decoration: none;
                    line-height: 2em;

                    h3 {
                        font-weight: bold;
                        font-size: 19px;
                    }
                }
            }

            .extra {
                margin: 16px 0px;

                .theme {
                    padding: 50px 0px;
                    font-weight: bold;
                    color: $themeColor;
                }

                .time {
                    color: $timeColor;
                }
            }
        }
    }

    #content2 {
        @extend #content1;
    }

    #content3 {
        @extend #content1;
    }

    #content4 {
        @extend #content1;
    }
}