@use 'content/ct';
@use 'gallery/g';
@use 'header/hd';
@use 'video/vd';
@use 'configIndex' as c;

.header {
    .mainMenu {
        width: 100%;
        height: 40px;
    }

    .banner_top{
        background-color: c.$bgBannerColor;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.body-wrapper {
    .bw-content {
        .w1040 {
            width: 1040px;
            margin: 0 auto;

            .w720 {
                width: 720px; 
            }

            .fl {
                float: left;
            }

            .bwc-left {
                z-index: 0;
                padding-top: 0;
                border-top: 0;
            }

            .bwc-left-wrapper {
                display: block;
                padding-right: 20px;

                .blw-news {
                    padding-bottom: 30px;
                    border-bottom: 3px solid c.$borderColor;

                    .bn-content {
                        display: block;
                    }
                }

                .blw-new-stream {
                    width: 700px;

                    .bns-slider-tin-moi {
                        width: 100%;
                    }

                    .bns-tin-tuc {
                        width: 100%;
                    }

                    .bang-tin-w1040 {
                        width: 1040px;
                        position: relative;

                        .bang-tin-left {
                            width: 700px;
                        }

                        .bang-tin-right {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 320px;
                        }
                    }

                    .bns-tin-tuc {
                        width: 700px;
                    }

                    .trendAd-w1040 {
                        width: 1040px;
                        position: relative;

                        .bns-dang-duoc-quan-tam {
                            width: 700px;
                            height: 21.8em;
                            background-color: c.$bgCareColor;
                            border-radius: 3px;
                            padding-top: 15px;
                            padding-bottom: 20px;
                        }

                        .video-music {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 310px;
                            height: 24em;
                            border-radius: 5px;
                        }
                    }

                    .bns-tin-tuc {
                        width: 700px;
                    }

                    .bns-box-video {
                        width: 700px;
                    }
                }

                .blw-category-news {
                    width: 700px;
                    height: auto;

                    .box1 {
                        position: relative;
                        margin-bottom: 30px;
                        width: 340px;
                        float: left;
                        margin-right: 20px;   
                    }

                    .box2 {
                        position: relative;
                        margin-bottom: 30px;
                        width: 340px;
                        float: left;
                    }

                    .box3 {
                        position: relative;
                        margin-bottom: 30px;
                        width: 340px;
                        float: left;
                        margin-right: 20px;
                    }

                    .box4 {
                        position: relative;
                        margin-bottom: 30px;
                        width: 340px;
                        float: left;
                    }
                }
            }
        }
    }
}