@use 'configContent1' as c;
@use 'mixinContent1' as m;

.content1 {
    width: 700px;
    height: 630px;

    .title {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;

        h2 {
            font-size: 20px;
            text-transform: uppercase;
            border-left: 6px solid c.$primarycolor;
            padding-left: 6px;
            font-weight: bold;
            display: inline;
            color: c.$textColor;
        }

        p {
            display: inline;
            font-size: 13px;
            color: c.$secondcolor;
        }
        
        .datetime {
            width: 346px;
            height: 30px;
            margin-left: 15px;
            display: flex;
            justify-content: space-between;
    
            #day {
                @include m.time;
            }
    
            #month {
                @include m.time;
            }
    
            #year {
                @include m.time;
            }
    
            #btXem {
                width: 100px;
                color: white;
                border: none;
                background-color: c.$secondcolor;
                text-transform: uppercase;
                border-radius: 5px;
                padding: 3px 3px;
            }
        }
    }

    .ct {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-between;

        #content1 {
            @include m.contentT;

            button {
                width: 3.5em;
                padding: 3px 0px;
                color: white;
                border: none;
                border-radius: 5px;
                background-color: #9CA7B7;
            } 
            
        }

        #content2 {
            @extend #content1;
        }

        #content3 {
            @include m.contentT;

            #time {
                color: c.$secondcolor;
            }
        }

        #content4 {
            @extend #content3;
        }

        #content5 {
            @extend #content3;
        }

        #content6 {
            @extend #content3;
        }
    }
}