@use 'configContent1' as c;

@mixin contentT {
    width: 32%;
    height: 100%;
    margin-bottom: 25px;
    
    p {
        line-height: 1.6em;
        width: 100%;
        display: inline;
        font-weight: bold;
        font-size: 14px;
    }

    img {
        width: 100%;
        height: 10em;
    }
}

@mixin time {
    border-radius: 5px;
    color: c.$secondcolor;
}