@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: $textColor;
}

.content {
    width: 720px;
    min-height: 28em;
    margin: 0px auto;

    .slider {
        width: 100%;
        height: 26em;

        .gallery {
            width: 100%;
            height: 100%;

            #gallery6 {
                width: 100%;
                height: 100%;

                #gallery-top {
                    list-style-type: none;
                    width: 100%;
                    height: 10em;
                    margin: 0px;
                    padding: 0px;
                    padding-bottom: 15px;

                    li {
                        --widthA: 100%;
                        --widthB: calc(var(--widthA) - 30px);
                        --widthC: calc(var(--widthB) / 3);
                        width: var(--widthC);
                        height: 100%;
                        float: left;
                        padding-left: 15px;

                        &:first-child {
                            padding-left: 0px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                #gallery-bottom {
                    clear: left;
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    height: 15em;

                    li {
                        width: 48.5%;
                        height: 100%;
                        float: left;
                        padding-left: 15px;

                        &:first-child {
                            padding-left: 0px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .title {
            clear: left;
            width: 100%;
            height: 3em;
            background-color: $bgColor;

            h3 {
                padding-left: 15px;
                margin: 0px;
                line-height: 3em;
            }
        }
    }
}