@mixin contentT {
    width: 26%;
    margin-bottom: 25px;
    
    p {
        line-height: 1.6em;
        width: 14em;
        display: inline;
        font-weight: bold;
    }

    img {
        width: 14em;
    }
}

@mixin time {
    border-radius: 5px;
    color: $secondcolor;
}