@import 'config';

@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #000;
    margin: 0px;
    padding: 0px;
}

.content {
    width: 700px;
    min-height: 200px;
    padding-left: 200px;
    padding-top: 30px;

    .title {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;

        h2 {
            font-size: 23px;
            text-transform: uppercase;
            border-left: 6px solid $primarycolor;
            padding-left: 6px;
            font-weight: bold;
            display: inline;
        }

        p {
            display: inline;
            color: $secondcolor;
        }
        
        .datetime {
            width: 320px;
            height: 30px;
            margin-left: 5px;
            display: flex;
            justify-content: space-between;
    
            #day {
                @include time;
            }
    
            #month {
                @include time;
            }
    
            #year {
                @include time;
            }
    
            #btXem {
                width: 100px;
                color: white;
                border: none;
                background-color: $secondcolor;
                text-transform: uppercase;
                border-radius: 5px;
                padding: 3px 3px;
            }
        }
    }

    .ct {
        width: 100%;
        min-height: 420px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-between;

        #content1 {
            @include contentT;

            button {
                width: 3.5em;
                padding: 3px 0px;
                color: white;
                border: none;
                border-radius: 5px;
                background-color: #9CA7B7;
            } 
            
        }

        #content2 {
            @extend #content1;
        }

        #content3 {
            @include contentT;

            #time {
                color: $secondcolor;
            }
        }

        #content4 {
            @extend #content3;
        }

        #content5 {
            @extend #content3;
        }

        #content6 {
            @extend #content3;
        }
    }
}