<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="slider">
            <div class="gallery">
                <ul id="gallery7">
                    <li>
                        <div class="img">
                            <a href=""><img src="../../src/images/anh1.png" alt=""></a>
                        </div>
                        
                        <div class="ct">
                            <div class="title1">
                                <p>
                                    [ Tin vừa lên ]
                                </p>
                            </div>
            
                            <div class="title2">
                                <p>
                                    <a href="">
                                        Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black
                                        Pink cũng không thoát
                                    </a>
                                </p>
                            </div>
                           
                            <div class="extra">
                                <a class="theme">Musik</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href=""><img src="../../src/images/anh2.png" alt=""></a>
                        </div>
                        
                        <div class="ct">
                            <div class="title1">
                                <p>
                                    [ Tin vừa lên ]
                                </p>
                            </div>
            
                            <div class="title2">
                                <p>
                                    <a href="">
                                        Bên trong nơi "đặc biệt" chăm sóc và điều trị bệnh
                                        nhân tâm thần mắc COVID-19
                                    </a>
                                </p>
                            </div>
                           
                            <div class="extra">
                                <a class="theme">Xã hội</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href=""><img src="../../src/images/anh3.png" alt=""></a>
                        </div>
                        
                        <div class="ct">
                            <div class="title1">
                                <p>
                                    [ Tin vừa lên ]
                                </p>
                            </div>
            
                            <div class="title2">
                                <p>
                                    <a href="">
                                        NÓNG: Bộ Giáo dục và Đào tạo công bố phương án 
                                        thi tốt nghiệp Trung học phổ thông năm 2022
                                    </a>
                                </p>
                            </div>
                           
                            <div class="extra">
                                <a class="theme">Học đường</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="control-box">
            <script src="../../src/styles/js/main.js"></script>
            <div id="up">
                <button id="btn-up" onclick="up()"><img src="../../src/images/btn.png" alt=""></button>
            </div>

            <div id="page">
                1/3
            </div>

            <div id="down">
                <button id="btn-down" onclick="down()"><img src="../../src/images/btn.png" alt=""></button>
            </div>
        </div>
    </div>
<!-- /build:content -->