@use 'configContent2' as c;

.content2 {
    width: 700px;
    min-height: 200px;
    padding-top: 30px;

    #content1 {
        width: 100%;
        line-height: 1.6em;
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid c.$boderColor;

        .img {
            padding-top: 25px;

            a {
                text-decoration: none;
    
                img {
                    width: 16em;
                    height: 9.8em;
                }
            }
        }
        
        .ct {
            padding-top: 25px;
            width: 26.5em;

            .title {
                margin-bottom: 10px;
                margin-top: -5px;

                a {
                    text-decoration: none;

                    h3 {
                        font-weight: bold;
                        font-size: 20px;
                        color: c.$titleColor;
                    }
                }
            }

            .extra {
                margin-bottom: 13px;

                .theme {
                    font-size: 14px;
                    padding: 50px 0px;
                    font-weight: bold;
                    color: c.$themeColor;
                }

                .time {
                    font-size: 14px;
                    color: c.$timeColor;
                }
            }

            .inf {
                span {
                    font-size: 13px;
                }
            }
        }
    }

    #content2 {
        @extend #content1;
    }

    #content3 {
        @extend #content1;
    }

    #content4 {
        @extend #content1;
    }
}