@use 'configMenu1' as c;
@use 'mixinMenu1' as m;

.mainMenu_top {
    width: 100%;
    height: 40px;
    background-color: c.$bgMenuColor;
    
    .menu {
        margin: 0px auto;
        width: 1040px;

        .nav {
            display: flex;
            width: 100%;
            height: 40px;
            justify-content: space-between;
            align-items: center;
    
    
            li {
                list-style-type: none;
    
                a {
                    height: 40px;
                    width: auto;
                    line-height: 40px;
                    text-decoration: none;
                    display: block;
                    padding: 0px 10px;
                    color: c.$textColor;
                    
                    &:hover {
                        background-color: c.$hoverColor;
                    }

                    div {
                        @include m.img;

                        #logo {
                            height: 35px;
                        }
                    }
                    
                }

                div {
                    @include m.img;

                    #dot {
                        height: 40px;
                    }
                }
            }
        }
    }
}    