<div class="body__margin">
    <div id="content1">
        <div class="img">
            <img src="../../src/images/anh1.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content2">
        <div class="img">
            <img src="../../src/images/anh2.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content3">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content4">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content5">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content6">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content7">
        <div class="img">
            <img src="../../src/images/anh1.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content8">
        <div class="img">
            <img src="../../src/images/anh2.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content9">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content10">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content11">
        <div class="img">
            <img src="../../src/images/anh4.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>

    <div id="content12">
        <div class="img">
            <img src="../../src/images/anh3.png" alt="">
        </div>

        <div class="title">
            <p> Animation films </p>
        </div>

        <div class="location">
            <img src="../../src/images/iconLocation.png" alt="">
            <p> Movies </p>
        </div>
        
        <div class="content__main">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="rate">
            <div class="rate2">
                <img src="../../src/images/rate2.png" alt="">
            </div>

            <div class="fb">
                <img src="../../src/images/iconFb.png" alt="">
            </div>
        </div>
    </div>
</div>