<div class="header__margin">
    <div class="logo">
        <img src="../../src/images/logo.png" alt="">
    </div>
    
    <div class="menu">
        <button class="btnMenu">
            <img src="../../src/images/menu.png" alt="">
        </button>
    </div>
    
    <div class="search">
        <form action="" method="">
            <input type="text" name="" value="" >
            <button></button>
        </form>
    </div>
    
    <div class="user">
        <img src="../../src/images/iconUser.png" alt="">
        <div> Welcome John </div>
    </div>
</div>