<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:header -->
<div class="header">
    @@include('header.html')
</div>
<!-- /build:header -->

<!-- build:content -->
    <div class="body">
        @@include('body.html')
    </div>
<!-- /build:content -->

<!-- build:footer -->
    <div class="footer">
        @@include('footer.html')
    </div>
<!-- /build:footer -->