<!-- build:title -->
    Cắt trang Web
<!-- /build:title -->

<!-- build:header -->
    <div class="header">
        <div class="mainMenu">
            <!-- menu -->

<div class="mainMenu_top">
    <div class="menu">
        <ul class="nav">
            <li><a href=""><div><img id="logo" src="..\..\src\images\menu2\logoH.png" alt=""></div></a></li>
            <li><a href="">Star</a></li>
            <li><a href="">TV Show</a></li>
            <li><a href="">Ciné</a></li>
            <li><a href="">Musik</a></li>
            <li><a href="">Fashion</a></li>
            <li><a href="">Đời sống</a></li>
            <li><a href="">Ăn cả thế giới</a></li>
            <li><a href="">Xã hội</a></li>
            <li><a href="">Thế giới</a></li>
            <li><a href="">Sport</a></li>
            <li><a href="">Học đường</a></li>
            <li><a href="">Video</a></li>
            <li><div><img id="dot" src="..\..\src\images\menu2\3cham.png" alt=""></div></li>
        </ul>
    </div>
</div>
        </div>
        
        <div class="banner_top">
            <!-- top banner -->

<div id="banner1">
    <img src="..\..\src\images\banner1\anh1.png" alt="">
</div>
        </div>
    </div>
<!-- /build:header -->

<!-- build:content -->
    <div class="body-wrapper">
        <div class="bw-content">
            <div class="w1040">
                <div class="w720 bwc-left fl">
                    <div class="bwc-left-wrapper">
                        <!-- chuyen muc -->
                        <div class="blw-news" id="regionNews">
                            <div class="bn-content">
                                <!-- top 2 focus -->

<div class="bai1">
    <div class="content--left">
        <a id="img1" href="" title="Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận đã tiêu huỷ">
            <img src="..\..\src\images\index\content\bai1\anh1.png" 
            alt="Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận đã tiêu huỷ">
        </a>
        
        <h2 id="tt1">
            <a href="" title="Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận 
            đã tiêu huỷ">Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận đã tiêu huỷ</a>
        </h2>

        <p>
            Thông tin 15 chú chó trên hành trình về quê bị tiêu hủy ở Cà Mau được chia sẻ rộng rãi trên mạng xã hội vào 
            tối ngày 9/10. Chia sẻ với PV, đại diện Phòng Y tế huyện xác nhận, đàn chó 15 con của người đàn ông về Cà Mau ...
        </p>
    </div>

    <div class="content--right">
        <a id="img2" href="" title='Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương chúng như con, làm được 250k thì 
        dành 100k mua thức ăn cho chúng"'>
            <img src="..\..\src\images\index\content\bai1\anh2.png" 
            alt='Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương chúng như con, làm được 250k thì 
            dành 100k mua thức ăn cho chúng"'>
        </a>
        
        <h2 id="tt2">
            <a href="" title='Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương chúng như con, làm được 250k thì 
            dành 100k mua thức ăn cho chúng"'>Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương 
            chúng như con, làm được 250k thì dành 100k mua thức ăn cho chúng"</a>
        </h2>
    </div>
</div>
                            </div>
                            
                            <!-- slide 7 tin con lai -->

<div class="slider" id="gallery7News">
    <ul class="gallery">
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh1.png" alt="">
            <h4>
                <a>Netizen ghen đỏ mắt với màn đu idol siêu thành công của 2 ...</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh2.png" alt="">
            <h4>
                <a>TP.HCM đã qua khỏi đỉnh dịch COVID-19 và đang chốn dịch tốt</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh3.png" alt="">
            <h4>
                <a>
                    Phỏng vấn Khánh Vy sau số đầu tiên lên sóng Olympia, tiết lộ được
                    bố pha cho 1 ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh4.png" alt="">
            <h4>
                <a>
                    Lần đầu Hòa Minzy khoe cận chiếc bụng bầu đầy vết rạn thâm đen,
                    chỉ những ai làm mẹ ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh5.png" alt="">
            <h4>
                <a>
                    Chuyện ít ai ngờ về "ông trùm" đế chế Huewei: Giắt túi vài chục
                    tỉ đô nhưng từng ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh6.png" alt="">
            <h4>
                <a>
                    Nóng: MC Diệp Chi chính thức lên tiếng khi không còn dẫn Đường
                    Lên Đỉnh ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh6.png" alt="">
            <h4>
                <a>
                    Nóng: MC Diệp Chi chính thức lên tiếng khi không còn dẫn Đường
                    Lên Đỉnh ...
                </a>
            </h4>
        </li>
    </ul>

    <div class="button">
        <button class="btn-next"  id="btn-next"><div><img src="../../src/images/index/gallery/gallery4/btn.png" alt=""></div></button>
        <button class="btn-back"  id="btn-back"><div><img src="../../src/images/index/gallery/gallery4/btn.png" alt=""></div></button>
        <ul class="dots">
            
        </ul>
    </div>
</div>
<!-- bi loi vi khi goi the dom ko duoc init phia sau neu dung dang query phai khai bao script phia duoi the dom hoac dat trang thai script async domload xong mới dùng được hàm-->
<script src="../../dist/js/gallery/galleryHorizontalControl.js"></script>
<script>
    var option4 = {ele:'#gallery7News', id: '#gallery4', btnNext: '.btn-next', btnBack: '.btn-back',
        widthNext: -655, widthEnd: -1600};

    var gallery4 = new slide(option4);
</script>
                        </div>
                        <!-- END chuyen muc -->
                        
                        <div class="blw-new-stream">
                            <!-- S1 -->
                            <div class="bns-slider-tin-moi">
                                <!-- slide tin moi nhat -->

<div class="slider" id="galleryLatestNews">
    <ul id="gallery7">
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh1.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black
                            Pink cũng không thoát
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Musik</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh2.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            Bên trong nơi "đặc biệt" chăm sóc và điều trị bệnh
                            nhân tâm thần mắc COVID-19
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Xã hội</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh3.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            NÓNG: Bộ Giáo dục và Đào tạo công bố phương án 
                            thi tốt nghiệp Trung học phổ thông năm 2022
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Học đường</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh2.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            Bên trong nơi "đặc biệt" chăm sóc và điều trị bệnh
                            nhân tâm thần mắc COVID-19
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Xã hội</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh3.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            NÓNG: Bộ Giáo dục và Đào tạo công bố phương án 
                            thi tốt nghiệp Trung học phổ thông năm 2022
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Học đường</a>
                </div>
            </div>
        </li>
    </ul>
    
    <div class="control-box">
        <div id="up">
            <button class="btn-up" id="btn-up"><img src="../../src/images/index/gallery/gallery7/btn.png" alt=""></button>
        </div>
    
        <div id="page">
            1/5
        </div>
    
        <div id="down">
            <button class="btn-down" id="btn-down"><img src="../../src/images/index/gallery/gallery7/btn.png" alt=""></button>
        </div>
    </div>
</div>

<script src="../../dist/js/gallery/galleryVerticalControl.js"></script>
<script>
     var option7 = {ele: '#galleryLatestNews', id: '#gallery7', btnUp: '.btn-up', btnDown: '.btn-down',
        page: '#page', widthNext: -176, widthEnd: -704};

    var gallery7 = new slideVertical(option7);
</script>
                            </div>
                            
                            <div class="bns-tin-tuc">
                                <!-- Tin tuc -->

<div class="content2">
    <div id="content1">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh1.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi
                    bạn giỏi thực sự, điểm thi chỉ là một con số!
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Học đường</a>
                <span class="time"> - 3 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hầu hết thue khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự
                    chấm được 30 điểm cho mình ngay sau khi ...
                </span>
            </div>
        </div>
    </div>

    <div id="content2">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh2.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Rolando
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Sport</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Tiền vệ Nordin Amrabat cáo buộc trong tài Mark Giger có hành động
                    ngỏ ý xin áo đấu của Cristiano Rolando trong hiệp 1 ...
                </span>
            </div>
        </div>
    </div>

    <div id="content3">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh3.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng bá
                    trên kênh du lịch EBS nổi tiếng của Hàn Quốc
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Ăn cả thế giới</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hình ảnh phở Việt Nam đang ngày càng nhận được sự yêu mến của
                    bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ...
                </span>
            </div>
        </div>
    </div>

    <div id="content4">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh4.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Lục lại gia tài 10 diễn viên "Lord of the Rings" trở thành
                    báu vật của Hollywood
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Cine'</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim "Lord of the Rings"
                    nhưng ai mới là báu vật thật sự trong đời sống ...
                </span>
            </div>
        </div>
    </div>
</div>
                            </div>
                            <!-- END S1 -->

                            <!-- Bang tin tuc -->
                            <div class="bang-tin-w1040">
                                <div class="bang-tin-left">
                                    <!-- bang tin tuc -->

<div class="content1">
    <div class="title">
        <h2>Tin cùng chuyên mục</h2>
        <p>Xem theo ngày</p>
        <div class="datetime" id="showDate">
            <select name="day" id="day">
            </select>
            <select name="month" id="month">
            </select>
            <select name="year" id="year">
            </select>
            <button id="btXem">Xem</button>   
        </div>
    </div>

    <div class="ct">
        <div id="content1">
            <img src="../../src/images/index/content/content1/anh1.png" alt="">
            <p>
                Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền gạch đầu 
                tử vong, hung thủ bị điều tra về hành vi "Cố ý gây thương tích"
            </p>
            <button>Nổi bật</button>
        </div>

        <div id="content2">
            <img src="../../src/images/index/content/content1/anh2.png" alt="">
            <p>
                Câu chuyện: "Cô gái chờ bạn trai suốt đêm ngoài đường rồi bất ngờ bỏ đi để
                lại hết túi sách giấy tờ" khiến cư dân mạng trổ tài thám tử
            </p>
            <button>Nổi bật</button>
        </div>

        <div id="content3">
            <img src="../../src/images/index/content/content1/anh3.png" alt="">
            <p>
                Vụ thi thể bị trói chân tay nổi trên sông ở Đà Nẵng: Nạn nhân làm nghề cho vay tiền
            </p>
            <p id="time"> - 47 phút trước</p>
        </div>

        <div id="content4">
            <img src="../../src/images/index/content/content1/anh4.png" alt="">
            <p>
                Quảng Ninh: Sét đánh khiến toàn bộ điện lưới đảo Cô Tô mất điện kéo dài
            </p>
            <p id="time"> - 1 giờ trước</p>
        </div>

        <div id="content5">
            <img src="../../src/images/index/content/content1/anh5.png" alt="">
            <p>
                Khối u quái có răng, tóc, xương trong buồng trứng bé gái
            </p>
            <p id="time"> - 1 giờ trước</p>
        </div>

        <div id="content6">
            <img src="../../src/images/index/content/content1/anh6.png" alt="">
            <p>
                Người thân hai thiếu nữ tử vong mang quan tài đến trụ sở công an huyện
            </p>
            <p id="time"> - 1 giờ trước</p>
        </div>
    </div>
</div>

<script src="../../dist/js/date/showDate.js"></script>

<script>
    var optionShow = {id: '#showDate', day: '#day', month: '#month', year: '#year'};

    var showDate = new show(optionShow);

    showDate.showDay();
    showDate.showMonth();
    showDate.showYear();
</script>
                                </div>
                                
                                <div class="bang-tin-right">
                                    <!-- tin moi nhat -->

<div class="content6">
    <div class="title">
        <div class="tt">
            <img src="../../src/images/content6/clock-icon.png" alt="">
            <span>TIN MỚI NHẤT</span>
        </div>
       <div class="bt">
            <button id="down"><img src="../../src/images/content6/nut.png" alt=""></button>
            <button id="up"><img src="../../src/images/content6/nut.png" alt=""></button>
       </div>
    </div>

    <div class="list">
        <ul>
            <li>
                <a href="">
                    <span class="time">13:00</span>
                    <span class="ct">
                        6 tháng sau vụ án "13 đứa tre nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa,
                        13 người con đều đang hồi phục tốt
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">13:00</span>
                    <span class="ct">
                        Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black Pink cũng không thoát
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">12:59</span>
                    <span class="ct">
                        Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">12:55</span>
                    <span class="ct">
                        18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt sale
                        lớn nhất năm của Zara Việt Nam
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">12:30</span>
                    <span class="ct">
                        Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">12:30</span>
                    <span class="ct">
                        Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">12:30</span>
                    <span class="ct">
                        Bảo Thi: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="time">12:30</span>
                    <span class="ct">
                        Kim Woo Bin: đã bình phục trở lại sau 1 năm điều trị ung thư
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
                                </div>
                            </div>

                            <!-- S2 -->
                            <div class="bns-tin-tuc">
                                <!-- Tin tuc -->

<div class="content2">
    <div id="content1">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh1.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi
                    bạn giỏi thực sự, điểm thi chỉ là một con số!
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Học đường</a>
                <span class="time"> - 3 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hầu hết thue khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự
                    chấm được 30 điểm cho mình ngay sau khi ...
                </span>
            </div>
        </div>
    </div>

    <div id="content2">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh2.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Rolando
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Sport</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Tiền vệ Nordin Amrabat cáo buộc trong tài Mark Giger có hành động
                    ngỏ ý xin áo đấu của Cristiano Rolando trong hiệp 1 ...
                </span>
            </div>
        </div>
    </div>

    <div id="content3">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh3.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng bá
                    trên kênh du lịch EBS nổi tiếng của Hàn Quốc
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Ăn cả thế giới</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hình ảnh phở Việt Nam đang ngày càng nhận được sự yêu mến của
                    bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ...
                </span>
            </div>
        </div>
    </div>

    <div id="content4">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh4.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Lục lại gia tài 10 diễn viên "Lord of the Rings" trở thành
                    báu vật của Hollywood
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Cine'</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim "Lord of the Rings"
                    nhưng ai mới là báu vật thật sự trong đời sống ...
                </span>
            </div>
        </div>
    </div>
</div>
                            </div>
                            <!-- END S2 -->

                            <!-- S3 -->
                            <div class="bns-tin-tuc">
                                <!-- Tin tuc -->

<div class="content2">
    <div id="content1">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh1.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi
                    bạn giỏi thực sự, điểm thi chỉ là một con số!
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Học đường</a>
                <span class="time"> - 3 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hầu hết thue khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự
                    chấm được 30 điểm cho mình ngay sau khi ...
                </span>
            </div>
        </div>
    </div>

    <div id="content2">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh2.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Rolando
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Sport</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Tiền vệ Nordin Amrabat cáo buộc trong tài Mark Giger có hành động
                    ngỏ ý xin áo đấu của Cristiano Rolando trong hiệp 1 ...
                </span>
            </div>
        </div>
    </div>

    <div id="content3">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh3.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng bá
                    trên kênh du lịch EBS nổi tiếng của Hàn Quốc
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Ăn cả thế giới</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hình ảnh phở Việt Nam đang ngày càng nhận được sự yêu mến của
                    bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ...
                </span>
            </div>
        </div>
    </div>

    <div id="content4">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh4.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Lục lại gia tài 10 diễn viên "Lord of the Rings" trở thành
                    báu vật của Hollywood
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Cine'</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim "Lord of the Rings"
                    nhưng ai mới là báu vật thật sự trong đời sống ...
                </span>
            </div>
        </div>
    </div>
</div>
                            </div>

                            <div class="trendAd-w1040">
                                <div class="bns-dang-duoc-quan-tam">
                                    <!-- sile dang duoc quan tam -->

<div class="titleGalleryCare">
    <span class="icon"><img src="../../src/images/index/gallery/gallery1/icon.png" alt=""></span>
    <h3>ĐANG ĐƯỢC QUAN TÂM</h3>
</div>

<div class="slider" id="galleryCare">
    <ul class="gallery">
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh1.png" alt="">
            <h4>
                <a>Netizen ghen đỏ mắt với màn đu idol siêu thành công của 2 ...</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh2.png" alt="">
            <h4>
                <a>TP.HCM đã qua khỏi đỉnh dịch COVID-19 và đang chốn dịch tốt</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh3.png" alt="">
            <h4>
                <a>
                    Phỏng vấn Khánh Vy sau số đầu tiên lên sóng Olympia, tiết lộ được
                    bố pha cho 1 ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh4.png" alt="">
            <h4>
                <a>
                    Lần đầu Hòa Minzy khoe cận chiếc bụng bầu đầy vết rạn thâm đen,
                    chỉ những ai làm mẹ ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh5.png" alt="">
            <h4>
                <a>
                    Chuyện ít ai ngờ về "ông trùm" đế chế Huewei: Giắt túi vài chục
                    tỉ đô nhưng từng ...
                </a>
            </h4>
        </li>
    </ul>

    <div class="button">
        <script src="../../src/styles/js/content4/ct4.js"></script>
        <button class="btn-next" id="btn-next"><div><img src="../../src/images/index/gallery/gallery1/btn.png" alt=""></div></button>
        <button class="btn-back" id="btn-back"><div><img src="../../src/images/index/gallery/gallery1/btn.png" alt=""></div></button>
        <ul class="dots">
            
        </ul>
    </div>
</div>

<script src="../../dist/js/gallery/galleryHorizontalControl.js"></script>
<script>
    var option1 = {ele:'#galleryCare', id: '#gallery1', btnNext: '.btn-next', btnBack: '.btn-back',
        widthNext: -565, widthEnd: -725};

    var gallery1 = new slide(option1);
</script>
                                </div>

                                <div class="video-music">
                                    <!-- video ad music -->

<video id="bxh" audio="muted" controls="controls">
    <source src="../../src/videos/videoMusic/bxh.mp4" type="video/mp4">
</video>
                                </div>
                            </div>

                            <div class="bns-tin-tuc">
                                <!-- Tin tuc -->

<div class="content2">
    <div id="content1">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh1.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi
                    bạn giỏi thực sự, điểm thi chỉ là một con số!
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Học đường</a>
                <span class="time"> - 3 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hầu hết thue khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự
                    chấm được 30 điểm cho mình ngay sau khi ...
                </span>
            </div>
        </div>
    </div>

    <div id="content2">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh2.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Rolando
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Sport</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Tiền vệ Nordin Amrabat cáo buộc trong tài Mark Giger có hành động
                    ngỏ ý xin áo đấu của Cristiano Rolando trong hiệp 1 ...
                </span>
            </div>
        </div>
    </div>

    <div id="content3">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh3.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng bá
                    trên kênh du lịch EBS nổi tiếng của Hàn Quốc
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Ăn cả thế giới</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Hình ảnh phở Việt Nam đang ngày càng nhận được sự yêu mến của
                    bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ...
                </span>
            </div>
        </div>
    </div>

    <div id="content4">
        <div class="img">
            <a href=""><img src="../../src/images/index/content/content2/anh4.png" alt=""></a>
        </div>
        
        <div class="ct">
            <div class="title">
                <a href=""><h3>
                    Lục lại gia tài 10 diễn viên "Lord of the Rings" trở thành
                    báu vật của Hollywood
                </h3></a>
            </div>
           
            <div class="extra">
                <a class="theme">Cine'</a>
                <span class="time"> - 4 giờ trước</span>
            </div>
            
            <div class="inf">
                <span>
                    Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim "Lord of the Rings"
                    nhưng ai mới là báu vật thật sự trong đời sống ...
                </span>
            </div>
        </div>
    </div>
</div>
                            </div>
                            <!-- END S3 -->

                            <!-- mutex -->
                            <div class="bns-box-video">
                                <!-- box video -->

<div class="content5">
    <div class="content__left">
        <video controls="controls" width="100%" height="100%">
            <source src="../../src/videos/mutex/tam-tin-toi.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="content__right">
        <div class="title">
            <img src="../../src/images/index/content/content5/music-icon.png" alt="">
            <span>Mutex</span>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a href="">
                        <span class="img"><img src="../../src/images/index/content/content5/anh1.png" alt=""></span>
                        <div>
                            <span class="ct">Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</span>
                            <br><span class="time">2 giờ trước - 7k lượt xem</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="img"><img src="../../src/images/index/content/content5/anh1.png" alt=""></span>
                        <div>
                            <span class="ct">Bảo Thi: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</span>
                            <br><span class="time">1 ngày trước - 6k lượt xem</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="img"><img src="../../src/images/index/content/content5/anh1.png" alt=""></span>
                        <div>
                            <span class="ct">Kim Woo Bin: đã bình phục trở lại sau 1 năm điều trị ung thư</span>
                            <br><span class="time">1 ngày trước - 126 lượt xem</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="img"><img src="../../src/images/index/content/content5/anh1.png" alt=""></span>
                        <div>
                            <span class="ct">Khi vợ cấm xem Woldcup thì ...</span>
                            <br><span class="time">1 ngày trước - 5k lượt xem</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="img"><img src="../../src/images/index/content/content5/anh1.png" alt=""></span>
                        <div>
                            <span class="ct">Hưng Yên: Hai cô gái tử vong trên cầu ...</span>
                            <br><span class="time">1 ngày trước - 6k lượt xem</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="img"><img src="../../src/images/index/content/content5/anh1.png" alt=""></span>
                        <div>
                            <span class="ct">Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và 
                                Black Pink cũng không thoát</span>
                            <br><span class="time">2 giờ trước - 7k lượt xem</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
                            </div>
                        </div>

                        <div class="blw-category-news">
                            <!-- zone box -->
                            <div class="box1">
                                <!-- the loai tin tuc -->

<div class="content3">
    <div class="title">
        <h2>THỜI SỰ</h2>
    </div>

    <div class="content__main">
        <img src="../../src/images/index/content/content3/anh1.png" alt="">
        <a href="">
            <h3>
                Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
            </h3>
        </a>
    </div>

    <div class="content__extra">
        <ul>
            <li>
                <img src="../../src/images/index/content/content3/anh2.png" alt="">
                <h4>
                    Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                </h4>
            </li>
            <li>
                <img src="../../src/images/index/content/content3/anh3.png" alt="">
                <h4>
                    Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...
                </h4>
            </li>
        </ul>
    </div>
</div>
                            </div>
                            
                            <div class ="box2">
                                <!-- the loai tin tuc -->

<div class="content3">
    <div class="title">
        <h2>THỜI SỰ</h2>
    </div>

    <div class="content__main">
        <img src="../../src/images/index/content/content3/anh1.png" alt="">
        <a href="">
            <h3>
                Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
            </h3>
        </a>
    </div>

    <div class="content__extra">
        <ul>
            <li>
                <img src="../../src/images/index/content/content3/anh2.png" alt="">
                <h4>
                    Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                </h4>
            </li>
            <li>
                <img src="../../src/images/index/content/content3/anh3.png" alt="">
                <h4>
                    Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...
                </h4>
            </li>
        </ul>
    </div>
</div>
                            </div>

                            <div class ="box3">
                                <!-- the loai tin tuc -->

<div class="content3">
    <div class="title">
        <h2>THỜI SỰ</h2>
    </div>

    <div class="content__main">
        <img src="../../src/images/index/content/content3/anh1.png" alt="">
        <a href="">
            <h3>
                Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
            </h3>
        </a>
    </div>

    <div class="content__extra">
        <ul>
            <li>
                <img src="../../src/images/index/content/content3/anh2.png" alt="">
                <h4>
                    Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                </h4>
            </li>
            <li>
                <img src="../../src/images/index/content/content3/anh3.png" alt="">
                <h4>
                    Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...
                </h4>
            </li>
        </ul>
    </div>
</div>
                            </div>

                            <div class ="box4">
                                <!-- the loai tin tuc -->

<div class="content3">
    <div class="title">
        <h2>THỜI SỰ</h2>
    </div>

    <div class="content__main">
        <img src="../../src/images/index/content/content3/anh1.png" alt="">
        <a href="">
            <h3>
                Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
            </h3>
        </a>
    </div>

    <div class="content__extra">
        <ul>
            <li>
                <img src="../../src/images/index/content/content3/anh2.png" alt="">
                <h4>
                    Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                </h4>
            </li>
            <li>
                <img src="../../src/images/index/content/content3/anh3.png" alt="">
                <h4>
                    Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...
                </h4>
            </li>
        </ul>
    </div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /build:content -->