<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="slider">
            <div class="gallery">
                <div id="gallery6">
                    <ul id="gallery-top">
                        <li><img src="../../src/images/anh1.png" alt=""></li>
                        <li><img src="../../src/images/anh2.png" alt=""></li>
                        <li><img src="../../src/images/anh3.png" alt=""></li>
                    </ul>
                    <ul id="gallery-bottom">
                        <li><img src="../../src/images/anh4.png" alt=""></li>
                        <li><img src="../../src/images/anh5.png" alt=""></li>
                    </ul>
                </div>
            </div>

            <div class="title">
                <h3>Quán cô Tư nằm trên vỉa hè con đường Nguyễn Hữu Hào (quận 4).</h3>
            </div>
        </div>  
    </div>
<!-- /build:content -->