<!-- build:title -->
    Cắt trang Web
<!-- /build:title -->

<!-- build:header -->
    <div class="header">
        <div class="mainMenu">
            @@include('header/menu.html')
        </div>
        
        <div class="banner_top">
            @@include('header/banner.html')
        </div>
    </div>
<!-- /build:header -->

<!-- build:content -->
    <div class="body-wrapper">
        <div class="bw-content">
            <div class="w1040">
                <div class="w720 bwc-left fl">
                    <div class="bwc-left-wrapper">
                        <!-- chuyen muc -->
                        <div class="blw-news" id="regionNews">
                            <div class="bn-content">
                                @@include('content/bai1.html')
                            </div>
                            
                            @@include('gallery/gallery4.html')
                        </div>
                        <!-- END chuyen muc -->
                        
                        <div class="blw-new-stream">
                            <!-- S1 -->
                            <div class="bns-slider-tin-moi">
                                @@include('gallery/gallery7.html')
                            </div>
                            
                            <div class="bns-tin-tuc">
                                @@include('content/content2.html')
                            </div>
                            <!-- END S1 -->

                            <!-- Bang tin tuc -->
                            <div class="bang-tin-w1040">
                                <div class="bang-tin-left">
                                    @@include('content/content1.html')
                                </div>
                                
                                <div class="bang-tin-right">
                                    @@include('content/content6.html')
                                </div>
                            </div>

                            <!-- S2 -->
                            <div class="bns-tin-tuc">
                                @@include('content/content2.html')
                            </div>
                            <!-- END S2 -->

                            <!-- S3 -->
                            <div class="bns-tin-tuc">
                                @@include('content/content2.html')
                            </div>

                            <div class="trendAd-w1040">
                                <div class="bns-dang-duoc-quan-tam">
                                    @@include('gallery/gallery1.html')
                                </div>

                                <div class="video-music">
                                    @@include('video/videoMusic.html')
                                </div>
                            </div>

                            <div class="bns-tin-tuc">
                                @@include('content/content2.html')
                            </div>
                            <!-- END S3 -->

                            <!-- mutex -->
                            <div class="bns-box-video">
                                @@include('content/content5.html')
                            </div>
                        </div>

                        <div class="blw-category-news">
                            <!-- zone box -->
                            <div class="box1">
                                @@include('content/content3.html')
                            </div>
                            
                            <div class ="box2">
                                @@include('content/content3.html')
                            </div>

                            <div class ="box3">
                                @@include('content/content3.html')
                            </div>

                            <div class ="box4">
                                @@include('content/content3.html')
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /build:content -->