@use 'configFooter' as c;

.footer__margin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .load {
        p {
            margin-left: 12px;
            margin-top: -4px;
            color: c.$textColor;
        }
    }
}