<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="title">
            <div class="tt">
                <img src="../../src/images/clock-icon.png" alt="">
                <span>TIN MỚI NHẤT</span>
            </div>
           <div class="bt">
                <button id="down"><img src="../../src/images/nut.png" alt=""></button>
                <button id="up"><img src="../../src/images/nut.png" alt=""></button>
           </div>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a href="">
                        <span class="time">13:00</span>
                        <span class="ct">
                            6 tháng sau vụ án "13 đứa tre nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa,
                            13 người con đều đang hồi phục tốt
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">13:00</span>
                        <span class="ct">
                            Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black Pink cũng không thoát
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">12:59</span>
                        <span class="ct">
                            Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">12:55</span>
                        <span class="ct">
                            18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt sale
                            lớn nhất năm của Zara Việt Nam
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">12:30</span>
                        <span class="ct">
                            Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">12:30</span>
                        <span class="ct">
                            Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">12:30</span>
                        <span class="ct">
                            Bảo Thi: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="time">12:30</span>
                        <span class="ct">
                            Kim Woo Bin: đã bình phục trở lại sau 1 năm điều trị ung thư
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<!-- /build:content -->