@import 'config';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.menu {
    width: 100%;
    height: 40px;
    background-color: $primarycolor;

    .menu_top {
        margin: 0px auto;
        width: 1200px;

        .nav {
            display: flex;
            height: 40px;
            justify-content: space-between;
            align-items: center;
    
    
            li {
                list-style-type: none;
                border-right: 3px inset #396CB1;

                a {
                    height: 40px;
                    width: auto;
                    line-height: 40px;
                    text-decoration: none;
                    display: block;
                    padding: 0px 10px;

                    &:hover {
                        background-color: $hoverColor;
                    }
                    
                    div {
                        width: auto;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        #logo {
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
