@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.4em;
    color: $textColor;
}

.content {
    width: 700px;
    min-height: 28em;
    margin: 0px auto;
    background-color: $bgColor;
    border-radius: 5px;
    border-top: 6px solid $iconColor;

    .title {
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: 1.8em;
        margin-bottom: 1em;

        .icon {
            display: inline;
            font-size: 26px;
            font-weight: bold;
            color: $iconColor;
        }
        
        h3 {
            display: inline;
            font-size: 26px;
            line-height: 2em;
            color: $titleColor;
        }

        .dot {
            width: 100px;
            margin-left: -75px;
            display: flex;
            justify-content: space-between;

            li {
                width: 10px;
                height: 10px;
                background: $dotColor;
                list-style: none;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color  0.6s ease-in-out;
            }

            #dot1 {
                background-color: $dotColorPick;
            }
        }
    }

    .slider {
        width: 100%;
        height: 24em;
        position: relative;
        overflow: hidden;

        .gallery {
            #gallery2 {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                width: 10000px;
                height: 21em;
                transition: transform  0.6s ease-in-out;
                transform: translateX(0px);
        
                li {
                    width: 20em;
                    height: 100%;
                    margin-left: 1.8em;
                    background-color: $liColor;
                    float: left;
                    border-radius: 5px;
                    
        
                    img {
                        width: 100%;
                        height: 13em;
                        border-radius: 5px 5px 0px 0px;
                    }
        
                    h4 {
                        margin: 0px;
                        width: 90%;
                        height: 4em;
                        padding: 0px 12px 20px;
                        line-height: 1.4em;
        
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .button {
            #btn-next {
                @include btn($nextColorAt);
                right: 0;
                border-radius: 5px 0px 0px 5px;

                div {
                    border-radius: 5px 0px 0px 5px;
                }

                &:hover {
                    opacity: 1;
                }
            }

            #btn-back {
                @include btn($nextColorBf);
                left: -3em;
                border-radius: 0px 5px 5px 0px;
                transition: left 0.2s ease-in-out;

                div {
                    border-radius: 0px 5px 5px 0px;
                }

                img {
                    transform: rotate(180deg);
                }
            }
        }

        &:hover {
            #btn-back {
                left: 0em;
            }
        }
    }
}