<!-- slide tin moi nhat -->

<div class="slider" id="galleryLatestNews">
    <ul id="gallery7">
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh1.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black
                            Pink cũng không thoát
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Musik</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh2.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            Bên trong nơi "đặc biệt" chăm sóc và điều trị bệnh
                            nhân tâm thần mắc COVID-19
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Xã hội</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh3.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            NÓNG: Bộ Giáo dục và Đào tạo công bố phương án 
                            thi tốt nghiệp Trung học phổ thông năm 2022
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Học đường</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh2.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            Bên trong nơi "đặc biệt" chăm sóc và điều trị bệnh
                            nhân tâm thần mắc COVID-19
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Xã hội</a>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <a href=""><img src="../../src/images/index/gallery/gallery7/anh3.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title1">
                    <p>
                        [ Tin vừa lên ]
                    </p>
                </div>

                <div class="title2">
                    <p>
                        <a href="">
                            NÓNG: Bộ Giáo dục và Đào tạo công bố phương án 
                            thi tốt nghiệp Trung học phổ thông năm 2022
                        </a>
                    </p>
                </div>
                
                <div class="extra">
                    <a class="theme">Học đường</a>
                </div>
            </div>
        </li>
    </ul>
    
    <div class="control-box">
        <div id="up">
            <button class="btn-up" id="btn-up"><img src="../../src/images/index/gallery/gallery7/btn.png" alt=""></button>
        </div>
    
        <div id="page">
            1/5
        </div>
    
        <div id="down">
            <button class="btn-down" id="btn-down"><img src="../../src/images/index/gallery/gallery7/btn.png" alt=""></button>
        </div>
    </div>
</div>

<script src="../../dist/js/gallery/galleryVerticalControl.js"></script>
<script>
     var option7 = {ele: '#galleryLatestNews', id: '#gallery7', btnUp: '.btn-up', btnDown: '.btn-down',
        page: '#page', widthNext: -176, widthEnd: -704};

    var gallery7 = new slideVertical(option7);
</script>