<!-- slide 7 tin con lai -->

<div class="slider" id="gallery7News">
    <ul class="gallery">
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh1.png" alt="">
            <h4>
                <a>Netizen ghen đỏ mắt với màn đu idol siêu thành công của 2 ...</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh2.png" alt="">
            <h4>
                <a>TP.HCM đã qua khỏi đỉnh dịch COVID-19 và đang chốn dịch tốt</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh3.png" alt="">
            <h4>
                <a>
                    Phỏng vấn Khánh Vy sau số đầu tiên lên sóng Olympia, tiết lộ được
                    bố pha cho 1 ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh4.png" alt="">
            <h4>
                <a>
                    Lần đầu Hòa Minzy khoe cận chiếc bụng bầu đầy vết rạn thâm đen,
                    chỉ những ai làm mẹ ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh5.png" alt="">
            <h4>
                <a>
                    Chuyện ít ai ngờ về "ông trùm" đế chế Huewei: Giắt túi vài chục
                    tỉ đô nhưng từng ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh6.png" alt="">
            <h4>
                <a>
                    Nóng: MC Diệp Chi chính thức lên tiếng khi không còn dẫn Đường
                    Lên Đỉnh ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery4/anh6.png" alt="">
            <h4>
                <a>
                    Nóng: MC Diệp Chi chính thức lên tiếng khi không còn dẫn Đường
                    Lên Đỉnh ...
                </a>
            </h4>
        </li>
    </ul>

    <div class="button">
        <button class="btn-next"  id="btn-next"><div><img src="../../src/images/index/gallery/gallery4/btn.png" alt=""></div></button>
        <button class="btn-back"  id="btn-back"><div><img src="../../src/images/index/gallery/gallery4/btn.png" alt=""></div></button>
        <ul class="dots">
            
        </ul>
    </div>
</div>
<!-- bi loi vi khi goi the dom ko duoc init phia sau neu dung dang query phai khai bao script phia duoi the dom hoac dat trang thai script async domload xong mới dùng được hàm-->
<script src="../../dist/js/gallery/galleryHorizontalControl.js"></script>
<script>
    var option4 = {ele:'#gallery7News', id: '#gallery4', btnNext: '.btn-next', btnBack: '.btn-back',
        widthNext: -655, widthEnd: -1600};

    var gallery4 = new slide(option4);
</script>