<!-- sile dang duoc quan tam -->

<div class="titleGalleryCare">
    <span class="icon"><img src="../../src/images/index/gallery/gallery1/icon.png" alt=""></span>
    <h3>ĐANG ĐƯỢC QUAN TÂM</h3>
</div>

<div class="slider" id="galleryCare">
    <ul class="gallery">
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh1.png" alt="">
            <h4>
                <a>Netizen ghen đỏ mắt với màn đu idol siêu thành công của 2 ...</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh2.png" alt="">
            <h4>
                <a>TP.HCM đã qua khỏi đỉnh dịch COVID-19 và đang chốn dịch tốt</a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh3.png" alt="">
            <h4>
                <a>
                    Phỏng vấn Khánh Vy sau số đầu tiên lên sóng Olympia, tiết lộ được
                    bố pha cho 1 ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh4.png" alt="">
            <h4>
                <a>
                    Lần đầu Hòa Minzy khoe cận chiếc bụng bầu đầy vết rạn thâm đen,
                    chỉ những ai làm mẹ ...
                </a>
            </h4>
        </li>
        <li>
            <img src="../../src/images/index/gallery/gallery1/anh5.png" alt="">
            <h4>
                <a>
                    Chuyện ít ai ngờ về "ông trùm" đế chế Huewei: Giắt túi vài chục
                    tỉ đô nhưng từng ...
                </a>
            </h4>
        </li>
    </ul>

    <div class="button">
        <script src="../../src/styles/js/content4/ct4.js"></script>
        <button class="btn-next" id="btn-next"><div><img src="../../src/images/index/gallery/gallery1/btn.png" alt=""></div></button>
        <button class="btn-back" id="btn-back"><div><img src="../../src/images/index/gallery/gallery1/btn.png" alt=""></div></button>
        <ul class="dots">
            
        </ul>
    </div>
</div>

<script src="../../dist/js/gallery/galleryHorizontalControl.js"></script>
<script>
    var option1 = {ele:'#galleryCare', id: '#gallery1', btnNext: '.btn-next', btnBack: '.btn-back',
        widthNext: -565, widthEnd: -725};

    var gallery1 = new slide(option1);
</script>