<!-- menu -->

<div class="mainMenu_top">
    <div class="menu">
        <ul class="nav">
            <li><a href=""><div><img id="logo" src="..\..\src\images\menu2\logoH.png" alt=""></div></a></li>
            <li><a href="">Star</a></li>
            <li><a href="">TV Show</a></li>
            <li><a href="">Ciné</a></li>
            <li><a href="">Musik</a></li>
            <li><a href="">Fashion</a></li>
            <li><a href="">Đời sống</a></li>
            <li><a href="">Ăn cả thế giới</a></li>
            <li><a href="">Xã hội</a></li>
            <li><a href="">Thế giới</a></li>
            <li><a href="">Sport</a></li>
            <li><a href="">Học đường</a></li>
            <li><a href="">Video</a></li>
            <li><div><img id="dot" src="..\..\src\images\menu2\3cham.png" alt=""></div></li>
        </ul>
    </div>
</div>