@use 'configGallery7' as c;

#galleryLatestNews {
    width: 700px;
    height: 156px;
    overflow: hidden;
    position: relative;
    margin-top: 25px;

    #gallery7 {
        width: 100%;
        height: 10000px;
        margin-bottom: 1.5em;
        list-style-type: none;
        transition: background-color  0.6s ease-in-out;

        li {
            width: 100%;
            height: 156px;
            display: flex;
            padding-bottom: 20px;

            .img {
                width: 36%;
                height: 100%;
                margin-right: 18px;
    
                a {
                    text-decoration: none;
        
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            
            .ct {
                width: 56%;
    
                .title1 {
                    p {
                        font-size: 14px;
                        color: c.$title1Color;
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }  
                }
    
                .title2 {
                    p {
                        margin-right: 10px;
    
                        a {
                            color: c.$title2Color;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 18.5px;
                        }
                    }  
                }
    
                .extra {
                    margin-top: 11px;
    
                    .theme {
                        font-size: 14px;
                        font-weight: bold;
                        color: c.$themeColor;
                    }
                }
            }
        }
    }

    .control-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 5.5%;
        height: 156px;
        border-left: 1px solid c.$boderColor;
    
        #down {
            width: 100%;
            height: 26%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: c.$btnBgColor;
            border-top: 1px solid c.$boderColor;
            cursor: pointer;
    
    
            #btn-down {
                border: none;
                margin: 0px;
                padding: 0px;
                background-color: c.$btnBgColor;
                cursor: pointer;
    
                img {
                    width: 20px;
                    height: 20px;
                    opacity: 0.3;
                }
            }
    
            &:hover {
                #btn-down {
                    img {
                        opacity: 1;
                    }
                } 
            }
        }
    
        #up {
            @extend #down;
            border-top: none;
            border-bottom: 1px solid c.$boderColor;
    
            #btn-up {
                border: none;
                margin: 0px;
                padding: 0px;
                background-color: c.$btnBgColor;
                cursor: pointer;
    
                img {
                    width: 20px;
                    height: 20px;
                    opacity: 0.3;
                    transform: rotate(180deg);
                }
            }
    
            &:hover {
                #btn-up {
                    img {
                        opacity: 1;
                    }
                } 
            }
        }
    
        #page {
            width: 100%;
            height: calc(100% - 52%);
            text-align: center;
            font-size: 14px;
            color: c.$pageColor;
            line-height: 75px;
        }
    }
}