<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="content__left">
            <video autoplay="autoplay" controls="controls" width="100%" height="100%">
                <source src="../../src/videos/video.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="content__right">
            <div class="title">
                <img src="../../src/images/music-icon.png" alt="">
                <span>Mutex</span>
            </div>

            <div class="list">
                <ul>
                    <li>
                        <a href="">
                            <span class="img"><img src="../../src/images/anh1.png" alt=""></span>
                            <div>
                                <span class="ct">Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</span>
                                <br><span class="time">2 giờ trước - 7k lượt xem</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="img"><img src="../../src/images/anh1.png" alt=""></span>
                            <div>
                                <span class="ct">Bảo Thi: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</span>
                                <br><span class="time">1 ngày trước - 6k lượt xem</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="img"><img src="../../src/images/anh1.png" alt=""></span>
                            <div>
                                <span class="ct">Kim Woo Bin: đã bình phục trở lại sau 1 năm điều trị ung thư</span>
                                <br><span class="time">1 ngày trước - 126 lượt xem</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="img"><img src="../../src/images/anh1.png" alt=""></span>
                            <div>
                                <span class="ct">Khi vợ cấm xem Woldcup thì ...</span>
                                <br><span class="time">1 ngày trước - 5k lượt xem</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="img"><img src="../../src/images/anh1.png" alt=""></span>
                            <div>
                                <span class="ct">Hưng Yên: Hai cô gái tử vong trên cầu ...</span>
                                <br><span class="time">1 ngày trước - 6k lượt xem</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="img"><img src="../../src/images/anh1.png" alt=""></span>
                            <div>
                                <span class="ct">Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và 
                                    Black Pink cũng không thoát</span>
                                <br><span class="time">2 giờ trước - 7k lượt xem</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- /build:content -->