<!-- the loai tin tuc -->

<div class="content3">
    <div class="title">
        <h2>THỜI SỰ</h2>
    </div>

    <div class="content__main">
        <img src="../../src/images/index/content/content3/anh1.png" alt="">
        <a href="">
            <h3>
                Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu
            </h3>
        </a>
    </div>

    <div class="content__extra">
        <ul>
            <li>
                <img src="../../src/images/index/content/content3/anh2.png" alt="">
                <h4>
                    Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân
                </h4>
            </li>
            <li>
                <img src="../../src/images/index/content/content3/anh3.png" alt="">
                <h4>
                    Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...
                </h4>
            </li>
        </ul>
    </div>
</div>