@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: $textColor;
}

.content {
    width: 320px;
    height: 32em;
    margin: 0px auto;
    background-color: $bgColor;

    .title {
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        .tt {
            display: flex;

            img {
                width: 20px;
                height: 20px;
            }
    
            span {
                font-size: 22px;
                font-weight: bold;
                padding-left: 0.3em;
            }
        }
        
        .bt{
            #down {
                width: 50px;
                height: 30px;
                background-color: $scrollBgColor;
                border: 1px solid $scrollColor;
                border-radius: 5px;

                img {
                    width: 15px;
                    height: 10px;
                }            
            }
            #up {
                @extend #down;

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .list {
        background-color: $listBgColor;
        border: 2px solid $boderColor;
        border-radius: 5px;
        width: 100%;
        height: 25.5em;
        overflow-y: scroll;
    
        &::-webkit-scrollbar {
            width: 6px;
            background-color: lightgrey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 5px;
        }

        ul {
            list-style-type: none;
            padding-left: 16px;
            margin: 0px;

            li {
                width: 100%;
                height: auto;
                border-bottom: 2px dotted $boderColor;
                padding: 15px 0px;

                a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;

                    .time {
                        width: 12%;
                        font-size: 12px;
                        padding-top: 10px;
                        color: $timeColor;
                        border-right: 2px dotted $boderColor;;
                    }

                    .ct {
                        width: 82%;
                        font-size: 13.5px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}