<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="title">
            <h3>Tư vấn sinh lý người bệnh gút</h3>
            <div><img src="../../src/images/icon.png" alt=""></div>
        </div>

        <div class="content__main">
                <ul>                   
                    <li><a>
                        <div class="img">
                            <img src="../../src/images/anh1.png" alt="">
                        </div>
                        <div class="ct">
                            Mắc gút vẫn "yêu" sung mãn nhờ "bí mật" của Vua Voi
                        </div>
                    </a></li>
                    <li><a>
                        <div class="img">
                            <img src="../../src/images/anh2.png" alt="">
                        </div>
                        <div class="ct">
                            Lối thoát cho người bệnh gút bị yếu sinh lý từ chuyên gia
                        </div>
                    </a></li>
                    <li><a>
                        <div class="img">
                            <img src="../../src/images/anh3.png" alt="">
                        </div>
                        <div class="ct">
                            Đột phá mới giúp người bệnh gút luôn sung mãn
                        </div>
                    </a></li>
                    <li><a>
                        <div class="img">
                            <img src="../../src/images/anh4.png" alt="">
                        </div>
                        <div class="ct">
                            Khám phá bí truyền giúp người bệnh gút là "mãnh hổ" phòng the
                        </div>
                    </a></li>
                    <li><a>
                        <div class="img">
                            <img src="../../src/images/anh5.png" alt="">
                        </div>
                        <div class="ct">
                            Từng muốn chết vì bệnh gút và cái kết thay đổi cuộc đời
                        </div>
                    </a></li>
                </ul>
                <div class="ft">
                    <a href="hoangtiendan.com.vn" id="ft1">hoangtiendan.com.vn</a> tài trợ thông tin
                </div>
        </div>
        
        
    </div>
<!-- /build:content -->