@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.4em;
    color: $textColor;
}

.content {
    width: 720px;
    min-height: 28em;
    margin: 0px auto;
    background-color: $bgColor;

    .title {
        width: 100%;
        height: 3em;
        margin-bottom: 1em;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main-content {
        width: 700px;
        height: 19em;
        margin: 10px 10px;
        border-bottom: 1px solid $borderColor;
        display: flex;
        justify-content: space-between;

        #img {
            width: 60%;
            height: 100%;

            img {
               width: 100%;
               height: 95%;
            }
        }

        #content {
            width: 38%;
            #title {
                span {
                    font-size: 22px;
                    color: $titleColor;
                    font-weight: bold;
                }
            }

            #ct {
                span {
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }

    .slider {
        width: 700px;
        height: 20em;
        position: relative;
        overflow: hidden;
        margin: 0px 10px;

        .gallery {
            #gallery5 {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                width: 10000px;
                height: 20em;
                transition: transform  0.6s ease-in-out;
                transform: translateX(0px);
        
                li {
                    width: 20em;
                    height: 100%;
                    margin-left: 1.8em;
                    background-color: $liColor;
                    float: left;

                    &:first-child {
                        margin-left: 0px;
                    }
        
                    img {
                        width: 100%;
                        height: 13em;
                    }
        
                    h4 {
                        margin: 0px;
                        width: 90%;
                        height: 4em;
                        padding: 0px 12px 20px;
                        line-height: 1.4em;
        
                        a {
                            font-size: 15px;
                            color: $titleColor;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .button {
            #btn-next {
                @include btn($nextColorAt);
                right: 0;
                border-radius: 5px 0px 0px 5px;

                div {
                    border-radius: 5px 0px 0px 5px;
                }

                img {
                    transform: rotate(180deg);
                }

                &:hover {
                    opacity: 1;
                }
            }

            #btn-back {
                @include btn($nextColorBf);
                left: -3em;
                border-radius: 0px 5px 5px 0px;
                transition: left 0.2s ease-in-out;

                div {
                    border-radius: 0px 5px 5px 0px;
                }
            }
        }

        &:hover {
            #btn-back {
                left: 0em;
            }
        }
    }
}