.bai1 {
    width: 700px;
    height: 30.4em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .content--left {
        width: 65.8%;
        height: 100%;
        

        #img1 {
            display: block;
            height: 59%;
            cursor: pointer;
            margin-bottom: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #tt1 {
            height: 20%;

            a {
                font-weight: bold;
                text-decoration: none;
                font-size: 24.5px;
                color: #222;
            }
        }

        p {
            height: 16%;
            margin: 10px 0px;
            font-size: 14px;
        }
    }

    .content--right {
        width: 31.4%;
        height: 100%;

        #img2 {
            display: block;
            height: 59%;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #tt2 {
            height: 41%;

            a {
                display: block;
                font-size: 18px;
                font-weight: bold;
                background-image: linear-gradient(#ebebeb,#fff);
                padding: 12px 15px 20px;
                text-decoration: none;
                color: #222;
            }
        }
    }
}