@mixin btn ($bgColor) {
    position: absolute;
    top: 25%;
    padding: 0px;
    border: none;
    opacity: 0.8;
    background-color: $bgColor;

    div {
        width: 3em;
        height: 7.5em;
        display: flex;
        align-items: center;

        img {
            width: 3em;
            height: 5em;
        }
    }
}