<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:header -->
    <div class="menu">
        <div class="menu_top">
            <ul class="nav">
                <li><a href=""><div><img id="logo" src="..\..\src\images\logok14.png" alt=""></div></a></li>
                <li><a href="">Star</a></li>
                <li><a href="">TV Show</a></li>
                <li><a href="">Ciné</a></li>
                <li><a href="">Musik</a></li>
                <li><a href="">Fashion</a></li>
                <li><a href="">Đời sống</a></li>
                <li><a href="">Ăn cả thế giới</a></li>
                <li><a href="">Xã hội</a></li>
                <li><a href="">Thế giới</a></li>
                <li><a href="">Sport</a></li>
                <li><a href="">Học đường</a></li>
                <li><a href="">Video</a></li>
                <li><div><img id="dot" src="..\..\src\images\3cham.png" alt=""></div></li>
            </ul>
        </div>
    </div>
<!-- /build:header -->