@import 'config';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.4em;
    color: $textColor;
}

.content {
    width: 340px;
    min-height: 550px;
    padding-left: 200px;
    padding-top: 30px;

    .title {
        h2 {
            width: 100%;
            height: 20px;
            border-left: 4px solid $primaryColor;
        }
    }

    .content__main {
        img {
            width: 100%;
            height: 213px;
        }

        a {
            text-decoration: none;

            h3 {
                font-size: 20px;
            }
        }
    }

    .content__extra {
        ul {
            list-style-type: none;
            border-top: 1px solid $boderColor;
            padding: 0px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin: 15px 0px;

                img {
                    width: 60px;
                    height: 65px;
                }

                h4 {
                    font-size: 15px;
                    margin: 3px 5px 0px 15px;
                }
            }
        }
    }
}