@import 'config';

* {
    font-family: Arial, Helvetica, sans-serif;
    color: $textColor;
    font-size: 16px;
}

.content {
    width: 230px;
    min-height: 200px;
    margin: 0px auto;
    border: solid;
    border-width: 1px;
    border-color: $boderColor;
    border-radius: 0px 0px 6px 6px;

    .title {
        width: 100%;
        height: 4em;
        background-color: $primarycolor;
        position: relative;

        h3 {
            color: #F8F8FF;
            padding: 15px;
            margin-top: 0px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        div {
            width: 40px;
            height: 30px;
            background-color: $imgBgColor;
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-left-radius: 30px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
    

    .content1 {
        margin: 15px;

        .img {

            img {
                width: 12.5em;
                height: 12.5em;
            }
        }

        .inf {

            a {
                color: $titleColor;
                text-decoration: none;
                font-weight: bold;
                font-size: 19px;
            }

            p {
                font-size: 17px;
            }
        }
    }
    .content2 {
        ul {
            
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            li {
                display: flex;
                font-size: 20px;
                padding: 10px;
                border-top: 1px solid $boderColor;

                a {
                    color: $titleColor;
                    line-height: 1.4em;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 19px;
                }
            }
        }

        .ft {
            border-top: 1px solid $boderColor;
            padding: 10px;

            #ft1 {
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                color: $primarycolor;
            } 
        }
       
    }
}