@import 'config';
@import 'mixin';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: $textColor;
}

.content {
    width: 700px;
    height: 24em;
    margin: 0px auto;
    background-color: $bgColor;
    display: flex;
    border: 2px solid $boderColor;

    .content__left {
        width: 55%;
        height: 24em;
    }

    .content__right {
        width: 45%;
        height: 24em;

        .title {
            width: 100%;
            height: 3em;
            display: flex;
            align-items: center;
            background-color: $titleBgColor;
            padding: 5px 15px;
            box-sizing: border-box;

            img {
                width: 26px;
                height: 26px;
            }

            span {
                font-size: 30px;
                font-weight: bold;
                text-decoration: underline 6px solid $underText;
                padding-left: 0.5em;
            }
        }

        .list {
            width: 100%;
            height: 21em;
            overflow-y: scroll;
        
            &::-webkit-scrollbar {
                width: 8px;
                background-color: lightgrey;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 5px;
            }

            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;

                li {
                    width: 100%;
                    height: 80px;
                    border-bottom: 2px solid $boderColor;

                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        display: flex;
                        justify-content: space-between;

                        .img {
                            padding-left: 10px;
                            display: flex;
                            align-items: center;

                            img {
                                width: 3em;
                                height: 3em;
                            }
                        }

                        div {
                            width: 75%;
                            padding-top: 10px;

                            .ct {
                                font-size: 12px;
                                font-weight: bold;
                            }

                            .time {
                                font-size: 12px;
                                color: $timeColor;
                            }
                        }
                    }
                }
            }
        }
    }
}