<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:header -->
    <div class="menu">
        <div class="menu_top">
            <ul class="nav">
                <li><a href=""><div><img id="logo" src="..\..\src\images\logoH.png" alt=""></div></a></li>
                <li><a href="">Video</a></li>
                <li><a href="">Sự kiện</a></li>
                <li><a href="">Xã hội</a></li>
                <li><a href="">Thế giới</a></li>
                <li><a href="">Thể thao</a></li>
                <li><a href="">Giáo dục</a></li>
                <li><a href="">Nhân ái</a></li>
                <li><a href="">Kinh doanh</a></li>
                <li><a href="">Văn hóa</a></li>
                <li><a href="">Giải trí</a></li>
                <li><a href="">Du lịch</a></li>
                <li><a href="">Pháp luật</a></li>
                <li><a href="">Nhịp sống trẻ</a></li>
                <li><a href="">Sức khỏe</a></li>
                <li><a href="">Sức mạnh số</a></li>
                <li><a href="">Xe++</a></li>
                <li><a href="">Tình yêu</a></li>
                <li><a href="">Chuyện lạ</a></li>
            </ul>
        </div>
    </div>
<!-- /build:header -->