@use 'configGallery1' as c;
@use 'mixinGallery1' as m;

.titleGalleryCare {
    width: 100%;
    height: 1.6em;
    margin-left: 20px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;

    .icon {
        width: 4%;
        height: 2em;
        display: flex;
        align-items: center;

        img {
            width: 1.8em;
            height: 1.2em;
        }
    }
    
    h3 {
        display: inline;
        font-size: 24px;
        line-height: 2em;
        margin-left: 10px;
    }
}

#galleryCare {
    width: 700px;
    margin-top: 30px;
    height: 18em;
    position: relative;
    overflow: hidden;

    .gallery {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        width: 10000px;
        height: 16em;
        transition: transform  0.6s ease-in-out;
        transform: translateX(0px);

        li {
            width: 16.3em;
            height: 100%;
            margin-left: 20px;
            background-color: c.$liColor;
            float: left;
            

            img {
                width: 100%;
                height: 10.2em;
            }

            h4 {
                margin: 0px;
                width: 90%;
                height: 4em;
                padding: 0px 12px 20px;
                line-height: 1.4em;

                a {
                    font-size: 15px;
                    color: c.$textColor;
                }
            }
        }
    }

    .button {
        #btn-next {
            @include m.btn(c.$nextColorAt);
            right: 0;
            border-radius: 5px 0px 0px 5px;

            div {
                border-radius: 5px 0px 0px 5px;
            }

            &:hover {
                opacity: 1;

                .gallery {
                    transform: translateX(-50px);
                } 
            }
        }

        #btn-back {
            @include m.btn(c.$nextColorBf);
            left: -3em;
            border-radius: 0px 5px 5px 0px;
            transition: left 0.2s ease-in-out;

            div {
                border-radius: 0px 5px 5px 0px;
            }

            img {
                transform: rotate(180deg);
            }
        }

        .dots {
            position: relative;
            left: 40%;
            margin-top: 10px;
            width: 100px;
            display: flex;
            justify-content: space-between;

            .dot {
                width: 10px;
                height: 10px;
                background: c.$dotColor;
                list-style: none;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color  0.6s ease-in-out;
            }
        } 
    }

    &:hover {
        #btn-back {
            left: 0em;
        }
    }
}