@mixin btn ($bgColor) {
    position: absolute;
    top: 8%;
    padding: 0px;
    border: none;
    opacity: 0.8;
    background-color: $bgColor;

    div {
        width: 2.2em;
        height: 6em;
        display: flex;
        align-items: center;

        img {
            width: 2.2em;
            height: 3em;
        }
    }
}