<!-- build:title -->
    Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div class="content--left">
            <a id="img1" href="" title="Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận đã tiêu huỷ">
                <img src="..\..\src\images\anh1.png" 
                alt="Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận đã tiêu huỷ">
            </a>
            
            <h2 id="tt1">
                <a href="" title="Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận 
                đã tiêu huỷ">Hành trình về Cà Mau đầy đau lòng của 15 chú chó: Chính quyền địa phương xác nhận đã tiêu huỷ</a>
            </h2>
    
            <p>
                Thông tin 15 chú chó trên hành trình về quê bị tiêu hủy ở Cà Mau được chia sẻ rộng rãi trên mạng xã hội vào 
                tối ngày 9/10. Chia sẻ với PV, đại diện Phòng Y tế huyện xác nhận, đàn chó 15 con của người đàn ông về Cà Mau ...
            </p>
        </div>
    
        <div class="content--right">
            <a id="img2" href="" title='Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương chúng như con, làm được 250k thì 
            dành 100k mua thức ăn cho chúng"'>
                <img src="..\..\src\images\anh2.png" 
                alt='Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương chúng như con, làm được 250k thì 
                dành 100k mua thức ăn cho chúng"'>
            </a>
            
            <h2 id="tt2">
                <a href="" title='Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương chúng như con, làm được 250k thì 
                dành 100k mua thức ăn cho chúng"'>Đôi vợ chồng chở 15 chú chó theo về quê bị tiêu hủy: "Thương 
                chúng như con, làm được 250k thì dành 100k mua thức ăn cho chúng"</a>
            </h2>
        </div>
    </div>
<!-- /build:content -->