@import 'config';

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #544D4D;
}

.content {
    width: 460px;
    min-height: 200px;
    margin: 0px auto;
    border: solid;
    border-width: 1px;
    border-color: $boderColor;
    border-radius: 10px 0px 10px 10px;

    .title {
        width: 100%;
        height: 4em;
        background-color: $primarycolor;
        border-radius: 7px 0px 0px 0px;
        position: relative;

        h3 {
            color: #F8F8FF;
            padding: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        div {
            width: 60px;
            height: 30px;
            background-color: $imgBgColor;
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-left-radius: 30px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
    

    .content1 {
        margin: 15px 15px 60px 15px;

        .img {
            float: left;
            
            img {
                width: 160px;
                height: 160px;
            }
        }

        .inf {
            margin-left: 180px;

            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 18.5px;
            }

            p {
                font-size: 16.5px;
            }
        }
    }
    .content2 {
        ul {
            clear: left;
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            li {
                display: flex;
                position: relative;

                .hint {
                    width: 30px;
                    height: 100%;
                }

                &::before {
                    content:"•";
                    color: $primarycolor;
                    font-size: 45px;
                    vertical-align: middle;
                    position: absolute;
                    top: 0;
                }

                color: $primarycolor;
                font-size: 20px;
                padding: 10px 10px 10px 10px;
                border-top: 1px solid $boderColor;

                a {
                    line-height: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }

        .ft {
            border-top: 1px solid $boderColor;
            padding: 10px;

            #ft1 {
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                color: $primarycolor;
            } 
        }
       
    }
}