<!-- build:title -->
Cắt trang Web
<!-- /build:title -->

<!-- build:content -->
    <div class="content">
        <div id="content1">
            <div class="img">
                <a href=""><img src="../../src/images/anh1.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title">
                    <a href=""><h3>
                        Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi
                        bạn giỏi thực sự, điểm thi chỉ là một con số!
                    </h3></a>
                </div>
               
                <div class="extra">
                    <a class="theme">Học đường</a>
                    <span class="time"> - 3 giờ trước</span>
                </div>
                
                <div class="inf">
                    <span>
                        Hầu hết thue khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự
                        chấm được 30 điểm cho mình ngay sau khi ...
                    </span>
                </div>
            </div>
        </div>

        <div id="content2">
            <div class="img">
                <a href=""><img src="../../src/images/anh2.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title">
                    <a href=""><h3>
                        Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Rolando
                    </h3></a>
                </div>
               
                <div class="extra">
                    <a class="theme">Sport</a>
                    <span class="time"> - 4 giờ trước</span>
                </div>
                
                <div class="inf">
                    <span>
                        Tiền vệ Nordin Amrabat cáo buộc trong tài Mark Giger có hành động
                        ngỏ ý xin áo đấu của Cristiano Rolando trong hiệp 1 ...
                    </span>
                </div>
            </div>
        </div>

        <div id="content3">
            <div class="img">
                <a href=""><img src="../../src/images/anh3.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title">
                    <a href=""><h3>
                        Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng bá
                        trên kênh du lịch EBS nổi tiếng của Hàn Quốc
                    </h3></a>
                </div>
               
                <div class="extra">
                    <a class="theme">Ăn cả thế giới</a>
                    <span class="time"> - 4 giờ trước</span>
                </div>
                
                <div class="inf">
                    <span>
                        Hình ảnh phở Việt Nam đang ngày càng nhận được sự yêu mến của
                        bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ...
                    </span>
                </div>
            </div>
        </div>

        <div id="content4">
            <div class="img">
                <a href=""><img src="../../src/images/anh4.png" alt=""></a>
            </div>
            
            <div class="ct">
                <div class="title">
                    <a href=""><h3>
                        Lục lại gia tài 10 diễn viên "Lord of the Rings" trở thành
                        báu vật của Hollywood
                    </h3></a>
                </div>
               
                <div class="extra">
                    <a class="theme">Cine'</a>
                    <span class="time"> - 4 giờ trước</span>
                </div>
                
                <div class="inf">
                    <span>
                        Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim "Lord of the Rings"
                        nhưng ai mới là báu vật thật sự trong đời sống ...
                    </span>
                </div>
            </div>
        </div>
    </div>
<!-- /build:content -->