@use 'mixinBody' as m;

.body__margin {
    width: 1026px;
    margin: 0 auto;
    padding: 3em 0;
    position: relative;

    #content1 {
        @include m.content(21.5em, 9.5em);
    }

    #content2 {
        @include m.content(27em, 15em);
        position: absolute;
        top: 3em;
        left: 25.5%;
    }

    #content3 {
        @include m.content(21.5em, 9.5em);
        position: absolute;
        top: 3em;
        left: 51%;
    }

    #content4 {
        @include m.content(32em, 20em);
        position: absolute;
        top: 3em;
        left: 76.5%;
    }

    #content5 {
        @include m.content(32em, 20em);
        position: absolute;
        top: 25.5em;
    }

    #content6 {
        @include m.content(21.5em, 9.5em);
        position: absolute;
        top: 31em;
        left: 25.5%;
    }

    #content7 {
        @include m.content(21.5em, 9.5em);
        position: absolute;
        top: 25.5em;
        left: 51%;
    }

    #content8 {
        @include m.content(27em, 15em);
        position: absolute;
        top: 36em;
        left: 76.5%;
    }

    #content9 {
        @include m.content(32em, 20em);
        position: absolute;
        top: 58.5em;
    }

    #content10 {
        @include m.content(21.5em, 9.5em);
        position: absolute;
        top: 53.5em;
        left: 25.5%;
    }

    #content11 {
        @include m.content(32em, 20em);
        position: absolute;
        top: 48em;
        left: 51%;
    }

    #content12 {
        @include m.content(21.5em, 9.5em);
        position: absolute;
        top: 64em;
        left: 76.5%;
    }
}