@use 'configBody' as c;

@mixin content ($contentH, $imgH)
{
    width: 15em;
    //height: 21.5em;
    height: $contentH;
    border: 1px solid c.$boderColor;
    border-radius: 5px;
    background-color: c.$bgContentColor;

    .img {
        width: 100%;
        // height: 9.5em;
        height: $imgH;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        margin: 1em;

        p {
            color: c.$titleColor;
        }
    }
    
    .location {
        margin-left: 1em;
        display: flex;
        align-items: center;

        p {
            font-size: 14px;
            margin-left: 0.5em;
            color: c.$textColor;
        }
    }

    .content__main {
        margin: 1em;
        
        
        p {
            font-size: 13.8px;
            color: c.$textColor;
        }
    }

    .rate {
        border-top: 1px solid c.$boderColor;
            
        .rate2 {
            margin-left: 1em;
            height: 27px;
            float: left;
            display: flex;
            align-items: center;

            img {
                height: 1em;
            }
        }

        .fb {
            height: 27px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 2em;

            img {
                height: 1.25em;
            }
        }
    }
}